Repository Nblues/chiangmaiusedcar-next: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

fix(webhook): clear KV cache during Shopify webhook to restore automatic updates
  my_check.txt
  my_lint.txt
  out_main.txt
  out_sections.txt
  pages/api/webhooks/shopify.js
  string_main.txt
  structure.txt
  temp_brand_seo.js
  temp_brands.js
  temp_check_sections.js
  temp_dump.js
  temp_find_js.js
  temp_fix_nav.js
  temp_jsx.txt
  temp_jsx2.txt
  temp_jsx3.txt
  temp_jsx4.txt
  temp_jsx5.txt
  temp_lightbox.txt
  temp_show_main.js
  temp_show_structure.js
  temp_text.txt
  temp_update_used_cars.js
Due: eslint --fix --max-warnings=0, prettier --write

fix(dev): disable all local caches in development mode to allow immediate car updates
  lib/shopify.mjs
Due: none

chore: force redeploy to flush edge cache
  lib/shopify.mjs
Due: none

fix: remove invalid utf16 characters caused by powershell output
  lib/shopify.mjs
Due: none

fix(seo): remove duplicate Product schema injection on Car detail page to prevent merchant listings conflicts
  lib/seo/jsonld.js
Due: eslint --fix --max-warnings=0, prettier --write

fix(sw): bypass Google Tag Manager and Analytics to prevent CSP violdations in Service Worker
  public/sw.js
Due: prettier --write

perf: optimize LCP hero image, fonts and reduce network requests
  pages/_app.jsx
  pages/_document.jsx
  pages/index.jsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(seo,a11y): remove duplicate schemas, fix color contrast and aria labels
  components/SEO.jsx
  pages/api/runPagespeed.js
  pages/car/[handle].jsx
  pages/index.jsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(a11y): resolve color contrast and label mismatch according to Lighthouse audit
  components/UsedCarsChiangMaiDeferred.jsx
  pages/all-cars.jsx
  pages/used-cars-chiang-mai-brand/[brand].jsx
  pages/used-cars-chiang-mai.jsx
Due: eslint --fix --max-warnings=0, prettier --write

chore: remove hardcoded gemini api key from test script
  test-valuation.mjs
Due: none

fix(a11y): resolve color contrast on share button and LINE button for SEO and Accessibility
  pages/all-cars.jsx
  pages/car/[handle].jsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(seo): enhance catalog keyword mapping and indexing
  components/CarCard.jsx
  components/HomeAboutInline.jsx
  components/HomeDeferredSections.jsx
  components/HomeFaqSection.jsx
  components/HomeSearchSection.jsx
  components/HomeWhyChooseSection.jsx
  components/SEO.jsx
  config/seo-keyword-map.js
  config/seo-keywords.js
  pages/all-cars.jsx
  pages/car/[handle].jsx
  pages/index.jsx
  pages/used-cars-chiang-mai-brand/[brand].jsx
  pages/used-cars-chiang-mai.jsx
  public/sitemap-0.xml
  replace.js
  test-valuation.mjs
Due: eslint --fix --max-warnings=0, prettier --write

Add missing kn-10 images
  public/images/kn-10-original.webp
  public/images/kn-10-sm.webp
  public/images/kn-10.webp
Due: none

UI: Improve brand category list presentation on mobile layout
  components/HomeWhyChooseSection.jsx
Due: eslint --fix --max-warnings=0, prettier --write

UI: Improve features section layout on mobile
  components/HomeDeferredSections.jsx
Due: eslint --fix --max-warnings=0, prettier --write

UI: Make View All Cars button full width on mobile
  components/HomeDeferredSections.jsx
Due: eslint --fix --max-warnings=0, prettier --write

UI/Content: Update SEO content section wording and improve typography sizes on mobile
  components/HomeDeferredSections.jsx
Due: eslint --fix --max-warnings=0, prettier --write

UI: Update View All Cars button in homepage layout to match deferred sections styling
  pages/index.jsx
Due: eslint --fix --max-warnings=0, prettier --write

Fix: apply mobile typography tweaks and layout changes to active components
  components/HomeAboutInline.jsx
  components/HomeFaqSection.jsx
Due: eslint --fix --max-warnings=0, prettier --write

Update hero section text to reduce keyword stuffing
  pages/index.jsx
Due: eslint --fix --max-warnings=0, prettier --write

Update used-cars-chiang-mai hero to focus on consignment
  pages/used-cars-chiang-mai.jsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: restructure footer layout for mobile, add TikTok modal popup, update typography on landing page
  components/Footer.jsx
  components/TikTokFeed.jsx
  components/UsedCarsChiangMaiDeferred.jsx
  pages/index.jsx
  pages/used-cars-chiang-mai.jsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(TikTokFeed): ensure mobile thumbnails display and add iframe autoplay flag
  components/TikTokFeed.jsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(TikTokFeed): correct text encoding and mobile image layout
  components/TikTokFeed.jsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(TikTokFeed): apply no-referrer policy to allow external TikTok thumbnail loading
  components/TikTokFeed.jsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(TikTokFeed): proxy TikTok CDN images through server to bypass hotlink block
  components/TikTokFeed.jsx
  pages/api/tiktok-image.js
Due: eslint --fix --max-warnings=0, prettier --write

fix(TikTokFeed): remove mojibake, restore thai language strings properly
  components/TikTokFeed.jsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(api): fix tiktok image proxy allowing all tiktokcdn subdomains to prevent black thumbnails
  fix_img.mjs
  lighthouse-reports/report.html
  lighthouse-reports/report.json
  pages/api/tiktok-image.js
Due: eslint --fix --max-warnings=0, prettier --write

fix(video): remove autoplay from tiktok iframe
  components/TikTokFeed.jsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(performance): enable image optimization for large images, fix tiktok accessibility & cache
  components/HomeDeferredSections.jsx
  components/HomeFaqSection.jsx
  components/TikTokFeed.jsx
  pages/api/tiktok-image.js
Due: eslint --fix --max-warnings=0, prettier --write

fix: correct SEO_KEYWORD_MAP property names resolving to undefined
  pages/about.jsx
  pages/contact.jsx
  pages/credit-check.jsx
  pages/payment-calculator.jsx
  pages/promotion.jsx
  pages/sell-car.jsx
  pages/used-cars-chiang-mai.jsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: update footer mobile ui and tiktok iframe permissions
  components/Footer.jsx
  components/TikTokFeed.jsx
  fix_footer_text.js
  public/sitemap-0.xml
  update_tiktok.js
  update_tiktok2.js
  vercel_status.txt
Due: eslint --fix --max-warnings=0, prettier --write

fix(ui): simplify iframe sandbox for tiktok
  components/TikTokFeed.jsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(cfg): add tiktok.com to CSP frame-src
  next.config.js
Due: none

perf(image): use next/image for local images
  components/A11yImage.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(build): ignore type checking during build due to memory constraints
  next.config.js
Due: none

chore: align deferred sections
  components/HomeDeferredSections.jsx
  components/HomeFaqSection.jsx
Due: eslint --fix --max-warnings=0, prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: {pages,components,lib,utils,config}/**/*.{js,jsx,ts,tsx}
  prettier --write: ((any of: {pages,components,lib,utils,config}/**/*.{js,jsx,ts,tsx}) or (any of: public/**/*.{js,css,html,json,webmanifest})) or (any of: *.{json,md,yml,yaml})
