Repository Nblues/chiangmaiusedcar-next: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

fix(car): ensure accurate description parsing from source
  pages/car/[handle].jsx
Due: eslint --fix --max-warnings=0, prettier --write

restore redesign changes from stash and reapply button/parsing fixes
  pages/car/[handle].jsx
Due: eslint --fix --max-warnings=0, prettier --write

chore(layout): change navbar breakpoint to lg to prevent menu crowding on iPad portrait
  components/Navbar.jsx
Due: eslint --fix --max-warnings=0, prettier --write

perf(images): resize and optimize kn9.webp from 3.7MB to 89KB for mobile performance
  public/images/kn9.webp
Due: none

perf(images): add responsive kn9-sm.webp and update srcSet in HomeWhyChooseSection to fix Lighthouse LCP warning
  components/HomeWhyChooseSection.jsx
  public/images/kn9.webp
Due: eslint --fix --max-warnings=0, prettier --write

feat: upgrade Valuation Dashboard to Modern 2026 UI & refine Gemini 3.1 Pro prompt
  .gitignore
  app/actions/carFormActions.ts
  app/actions/evaluateCar.ts
  app/actions/valuationActions.ts
  app/admin/valuation/page.tsx
  app/layout.tsx
  components/ui/badge.tsx
  components/ui/button.tsx
  components/ui/card.tsx
  components/ui/input.tsx
  components/ui/select.tsx
  components/ui/table.tsx
  components/ui/textarea.tsx
  config/business.js
  lib/seo/aiKeywords.server.js
  lib/seo/jsonld.js
  lib/supabase.ts
  middleware.js
  next-env.d.ts
  next.config.js
  package.json
  pages/_app.jsx
  pages/admin/dashboard.jsx
  pages/all-cars.jsx
  pages/car/[handle].jsx
  pages/contact.jsx
  pages/index.jsx
  pnpm-lock.yaml
  public/herobanner/newherobanner-414w.webp-sm
  public/images/kn9-sm.webp
  public/test.css
  tailwind.config.js
  tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write

fix: replace garbled thai text and improve dashboard ui
  pages/admin/dashboard.jsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: prevent iOS mobile zooming on admin forms with text-16px and viewport config
  app/layout.tsx
  components/ui/input.tsx
  components/ui/select.tsx
  components/ui/textarea.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(ui): fix dashboard mojibake, UI styles, and prevent mobile input zoom
  .eslintrc.js
  NODE_VERSION_FIX_SUMMARY.txt
  VERCEL_ENV_SETUP.txt
  VERCEL_ENV_VARIABLES.txt
  add_env.js
  add_env2.js
  analyze-shopify.js
  chunk1.txt
  chunk2.txt
  chunk3.txt
  chunk4.txt
  deploy-output.txt
  dev-wasm-output.txt
  do_ui3.js
  fix_my_dashboard.js
  fix_viewport.js
  pnpm-version-test.txt
  pnpm-version.txt
  security-examples.js
  sharp-check.txt
  test-descriptions.mjs
  test-shopify-connection.mjs
  tmp_env_val.txt
  vercel-deploy-output.txt
  webhint-smoke.html
  webhint-smoke.json
Due: prettier --write

chore: remove files containing sensitive API keys
  add_env.js
  add_env2.js
  do_ui3.js
  fix_my_dashboard.js
  fix_viewport.js
  tmp_env_val.txt
Due: none

feat(ui): add modern google review landing page with framer-motion and open graph coverage
  components/GoogleReviewButton.jsx
  fix_review.js
  pages/review.jsx
  public/herobanner/googlerewiw.png
  public/herobanner/thank-you.webp
Due: eslint --fix --max-warnings=0, prettier --write

fix(links): implement LINE openExternalBrowser bypass on review button
  pages/review.jsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(ui): add facebook in-app browser detection to review page
  pages/review.jsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor(ui): remove manual fb warning and implement auto intent bypass on click
  pages/review.jsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(links): use urlgenius deep link for ios/android consistency
  pages/review.jsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(links): replace dead urlgenius link with smart native fb intent detection
  pages/review.jsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: Replace iOS Facebook plain text warning with interactive fallback button
  pages/review.jsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: change iOS fallback behavior to copy link instead of URL schema
  pages/review.jsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: Replace iOS copy link button with easy Facebook Review button fallback
  pages/review.jsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: update facebook review url to KN2car
  pages/review.jsx
Due: eslint --fix --max-warnings=0, prettier --write

style(review): improve mobile legibility, increase font sizes and enhance Google button visibility
  components/GoogleReviewButton.jsx
  pages/review.jsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: change hallucinated invalid gemini model name to stable gemini-1.5-pro
  app/actions/evaluateCar.ts
Due: none

feat: upgrade to gemini-3.1-pro-preview model
  app/actions/evaluateCar.ts
Due: none

style: fix admin valuation dashboard mobile responsiveness
  app/admin/valuation/page.tsx
Due: none

fix(valuation): apply CoT reasoning to AI pricing to prevent large profit hallucinations
  app/actions/evaluateCar.ts
Due: none

fix(seo): Fix GSC 404s, solve thin content issues, and configure redirects
  app/admin/valuation/page.tsx
  components/SEO.jsx
  pages/admin/dashboard.jsx
  pages/all-cars.jsx
  pages/car/[handle].jsx
Due: eslint --fix --max-warnings=0, prettier --write

seo: volume up & content deep strategy for all-cars
  .eslintrc.json
  pages/all-cars.jsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: pagination scroll jumping
  pages/all-cars.jsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: pagination data load & scroll behavior
  pages/all-cars.jsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: pagination race condition with DOM update
  pages/all-cars.jsx
Due: eslint --fix --max-warnings=0, prettier --write

Fix JSX syntax error and anchor top line precisely to car list
  pages/all-cars.jsx
Due: eslint --fix --max-warnings=0, prettier --write

Refactor SEO section UI and fix typographic errors
  pages/all-cars.jsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(seo): Add Google Rich Snippets for Vehicle Listings (Car schema enriched)
  pages/all-cars.jsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: UX/SEO enhancements - Sticky Contact Bar, Image Lightbox, and AutoDealer schema
  .eslintrc.json
  components/MobileBottomNav.jsx
  pages/car/[handle].jsx
  pages/index.jsx
  temp_find_js.js
  test-valuation.mjs
Due: eslint --fix --max-warnings=0, prettier --write

feat: SEO optimizations, cleanup duplicate share buttons, and responsive UI fixes
  pages/_app.jsx
  pages/_document.jsx
  pages/all-cars.jsx
  pages/car/[handle].jsx
  pages/contact.jsx
  pages/used-cars-chiang-mai-brand/[brand].jsx
  pages/used-cars-chiang-mai.jsx
  public/sitemap-0.xml
Due: eslint --fix --max-warnings=0, prettier --write

fix(ui): responsive buttons on brand pages
  pages/used-cars-chiang-mai-brand/[brand].jsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(csp): add googletagmanager and google-analytics to connect-src and img-src
  next.config.js
Due: none

chore: update Google Analytics ID
  pages/_app.jsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(cache): force clear KV and memory cache on manual revalidation to immediately grab fresh Shopify data
  pages/api/revalidate.js
Due: eslint --fix --max-warnings=0, prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: {pages,components,lib,utils,config}/**/*.{js,jsx,ts,tsx}
  prettier --write: ((any of: {pages,components,lib,utils,config}/**/*.{js,jsx,ts,tsx}) or (any of: public/**/*.{js,css,html,json,webmanifest})) or (any of: *.{json,md,yml,yaml})
