Repository Nblues/chiangmaiusedcar-next: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc:

{
  "{pages,components,lib,utils,config}/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "public/**/*.{js,css,html,json,webmanifest}": ["prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore: clean up project root and enable SSR for Footer
  .gitignore
  pages/_app.jsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(architecture): prevent memory leaks on serverless maps, clean root directory files
  build-lowmem-attempt.txt
  build-lowmem-output.txt
  build-now-latest.txt
  build-output.txt
  favicons-generate.out.txt
  lib/carStatusCache.js
  lib/carStatusStore.js
  lib/rateLimit.js
  lint-help.txt
  lint-output.txt
  type-check-output.txt
Due: eslint --fix --max-warnings=0, prettier --write

refactor(shopify): extract helpers to reduce shopify.mjs god-object footprint
  lib/shopify.mjs
  lib/shopify/helpers/admin.mjs
  lib/shopify/helpers/fetch.mjs
  lib/shopify/helpers/kv.mjs
  lib/shopify/helpers/parsers.mjs
Due: none

fix(hydration): prevent server/client classname mismatch in Navbar
  components/Navbar.jsx
Due: eslint --fix --max-warnings=0, prettier --write

chore: increase node memory limit for build script to fix hanging
  package.json
Due: prettier --write

refactor(shopify): completely abstract and consolidate parsing logic in shopify.mjs and extract queries
  analyze-shopify.js
  chunk1.txt
  chunk2.txt
  chunk3.txt
  chunk4.txt
  lib/shopify.mjs
  lib/shopify/helpers/normalize.mjs
  lib/shopify/queries.mjs
  public/robots.txt
  public/sitemap-0.xml
  scripts/check-queries.js
  scripts/clean-shopify.js
  scripts/extract-queries-safe.js
  scripts/extract-queries.js
  scripts/extract-queries2.js
  scripts/fix-queries.js
  scripts/replace-normalize2.js
  scripts/replace-normalize3.js
  scripts/replace-normalize4.js
Due: none

perf: Optimize LCP, image delivery and recommendation logic
  components/A11yImage.tsx
  lib/shopify.mjs
  lib/shopify/helpers/normalize.mjs
  lib/shopify/queries.mjs
  pages/all-cars.jsx
  pages/car/[handle].jsx
  public/sitemap-0.xml
  scripts/extract-queries-safe.js
  scripts/extract-queries2.js
  scripts/replace-normalize3.js
  scripts/replace-normalize4.js
  scripts/replace-similar-cars.js
  utils/imageOptimizer.js
Due: eslint --fix --max-warnings=0, prettier --write

Perf: Let below-the-fold images correctly lazy load
  components/Footer.jsx
  pages/all-cars.jsx
  pages/index.jsx
Due: eslint --fix --max-warnings=0, prettier --write

Perf: Faster car detail gallery switching
  pages/car/[handle].jsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(ui): responsive hero banners and correct fetchpriority warning
  components/SimilarCars.jsx
  lib/shopify/queries.mjs
  pages/about.jsx
  pages/all-cars.jsx
  pages/car/[handle].jsx
  pages/sell-car.jsx
  public/sitemap-0.xml
Due: eslint --fix --max-warnings=0, prettier --write

fix(ui): correct fetchpriority casing in all-cars.jsx to fix hydration warning
  pages/all-cars.jsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(ui): add back button to car detail page
  pages/car/[handle].jsx
Due: eslint --fix --max-warnings=0, prettier --write

Update SEO and pagination for brand page
  components/SEO.jsx
Due: eslint --fix --max-warnings=0, prettier --write

Fix fetchPriority React warning in all-cars.jsx
  components/SimilarCars.jsx
  pages/car/[handle].jsx
  pages/index.jsx
  public/sitemap-0.xml
Due: eslint --fix --max-warnings=0, prettier --write

SEO: Update brand page meta title & description for better CTR (ฟรดาวน ไมลแท)
  pages/used-cars-chiang-mai-brand/[brand].jsx
Due: eslint --fix --max-warnings=0, prettier --write

Fix: Increase TTFB performance by upping shopify car cache to 15m in prod
  lib/shopify.mjs
  pages/all-cars.jsx
  pages/index.jsx
  pages/used-cars-chiang-mai-brand/[brand].jsx
  pnpm-lock.yaml
  public/sitemap-0.xml
Due: eslint --fix --max-warnings=0, prettier --write

Fix: Optimization for sitemap and overall page speed
  public/sitemap-0.xml
Due: none

perf: parallelize SSR fetches + boost Cache-Control on all-cars and brand pages
  pages/all-cars.jsx
  pages/used-cars-chiang-mai-brand/[brand].jsx
  public/sitemap-0.xml
Due: eslint --fix --max-warnings=0, prettier --write

fix(seo/performance): optimize a11y image fetchpriority and outbound seo links
  .browserslistrc
  .eslintrc.js
  components/A11yImage.tsx
  components/CacheDashboard.jsx
  components/Footer.jsx
  components/Navbar.jsx
  lib/shopify.mjs
  pages/_app.jsx
  pages/_document.jsx
  pages/about.jsx
  pages/all-cars.jsx
  pages/car/[handle].jsx
  pages/contact.jsx
  pages/payment-calculator.jsx
  pages/promotion.jsx
  pages/used-cars-chiang-mai-brand/[brand].jsx
  pages/used-cars-chiang-mai.jsx
  public/robots.txt
Due: eslint --fix --max-warnings=0, prettier --write

fix(analytics): remove resource observer causing 429 rate-limit spam
  lib/performance.js
Due: eslint --fix --max-warnings=0, prettier --write

fix(csp): add vercel.live to frame-src to allow Vercel toolbar iframe
  next.config.js
Due: none

fix(robots): remove invalid Llms: directive from robots.txt postbuild script
  scripts/run-sitemap.js
Due: none

perf: optimization for LCP and Speed Index on all-cars and home route
  components/A11yImage.tsx
  next.config.js
  pages/_document.jsx
  pages/all-cars.jsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(a11y): adjust accent-800 color in tailwind config to pass WCAG AA contrast ratio
  tailwind.config.js
Due: none

perf: code split used-cars-chiang-mai static sections to reduce unused JS
  components/UsedCarsChiangMaiDeferred.jsx
  pages/used-cars-chiang-mai.jsx
Due: eslint --fix --max-warnings=0, prettier --write

perf: reduce unused css payload by pruning dead custom classes from globals.css
  components/UsedCarsChiangMaiDeferred.jsx
  package.json
  pages/used-cars-chiang-mai.jsx
  pnpm-lock.yaml
  public/robots.txt
  public/sitemap-0.xml
  styles/globals.css
  styles/theme.css
Due: eslint --fix --max-warnings=0, prettier --write

fix(assets): remove kn1.webp and kn2.webp from gitignore and add them to fix 404 console errors
  .gitignore
  public/images/kn1.webp
  public/images/kn2.webp
Due: none

fix(react): change fetchPriority to lowercase fetchpriority to resolve React DOM warnings
  pages/all-cars.jsx
  pages/used-cars-chiang-mai-brand/[brand].jsx
Due: eslint --fix --max-warnings=0, prettier --write

perf: cache Shopify GraphQL getCarByHandle requests in memory
  lib/shopify.mjs
Due: none

perf: reduce Next.js ES5 polyfills
  .swcrc
Due: none

perf: enable Next.js optimizeCss using critters to reduce unused CSS and inline critical styles
  next.config.js
Due: none

chore: optimize preconnect for Shopify CDN and remove crossOrigin constraint
  pages/_document.jsx
Due: eslint --fix --max-warnings=0, prettier --write

perf(all-cars): offload car status hydration to individual cards and simplify DOM renders
  components/CarCard.jsx
  package.json
  pages/_document.jsx
  pages/all-cars.jsx
  pnpm-lock.yaml
  public/sitemap-0.xml
Due: eslint --fix --max-warnings=0, prettier --write

fix(document): remove crossOrigin from shopify preconnect to resolve Lighthouse network mismatch
  pages/_document.jsx
Due: eslint --fix --max-warnings=0, prettier --write

perf(index): remove ssr: false from static sections to dramatically reduce main thread blocking and INP
  pages/index.jsx
Due: eslint --fix --max-warnings=0, prettier --write

perf(document): remove useless preconnect to cdn.shopify.com to appease Lighthouse preconnect warnings
  pages/_document.jsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: zero-delay CSS loading and sync LCP parsing (#140)
  pages/_document.jsx
  pages/index.jsx
  pages/used-cars-chiang-mai-brand/[brand].jsx
  public/sitemap-0.xml
Due: eslint --fix --max-warnings=0, prettier --write

chore: revert async CSS load due to FOUC
  components/Footer.jsx
  next.config.js
  pages/_document.jsx
  pages/index.jsx
Due: eslint --fix --max-warnings=0, prettier --write
